{
    "source" : {
        "host"             : "localhost",
        "port"             : 3306,
        "database"         : "wallabag",
        "charset"          : "utf8mb4",
        "supportBigNumbers": true,
        "user"             : "wallabag",
        "password"         : "{{ wallabag_database_pwd }}"
    },
    {# // https://node-postgres.com/features/connecting #}
    {# // https://stackoverflow.com/questions/8484404/what-is-the-proper-way-to-use-the-node-js-postgresql-module  #}
    "target" : {
        "host"     : "localhost",
        "port"     : 5432,
        "database" : "{{ db_name }}",
        "charset"  : "utf8",
        {# // note: tried and failed to login as postgres admin user, got `password authentication failed for user "postgres"` #}
        "user"     : "{{ db_user }}",
        "password" : "{{ wallabag_database_pwd }}"
    },

    "max_each_db_connection_pool_size" : 20,

    "loader_max_old_space_size" : "DEFAULT",

    "streams_high_water_mark": 16384,

    "encoding" : "utf8",

    "schema_description" : [
        "A name of the schema, that will contain all migrated tables.",
        "If not supplied, then a new schema will be created automatically."
    ],
    "schema" : "public",
    {# // removing schema caused `Undefined table: 7 ERROR:  relation "wallabag_craue_config_setting" does not exist` #}

    "exclude_tables": [],

    "include_tables": [],

    "migrate_only_data_description" : [
        "In order to skip schema migration, and just migrate data into a preset tables",
        " - set this parameter true."
    ],
    "migrate_only_data" : false,

    "delimiter" : ",",

    "enable_extra_config" : false
}
