parameters:
   database_driver: {{ wlbg_database_driver }}
{% if wallabag_version is version('2.4.0', '<') -%}
   {# for Wallabag v2.4.0 and above, database_driver_class should be included
      but left empty (null string)
      The assumption is that any system running Wallabag v2.4.0 or above will
      be running PostgreSQL version later than 10
      https://doc.wallabag.org/en/admin/parameters.html
      https://github.com/wallabag/wallabag/pull/4361 
      https://github.com/wallabag/wallabag/issues/3913
      https://github.com/wallabag/wallabag/issues/4179
   #}
{% if (database_postgresql | bool) and (psql_version | trim | int == 10) -%}
   {# with psql v10 only, database_driver_class should be Wallabag\CoreBundle\Doctrine\DBAL\Driver\CustomPostgreSQLDriver #}
   database_driver_class: {{ wlbg_database_driver_class | default('Wallabag\CoreBundle\Doctrine\DBAL\Driver\CustomPostgreSQLDriver') }}
{% else %}
   database_driver_class: ~
{% endif %}
{% endif %}
   database_host: {{ wlbg_database_host }}
   database_port: {{ wlbg_database_port }}
   database_name: {{ db_name }}
   database_user: {{ db_user }}
   database_password: '{{ wlbg_database_pwd }}'
   database_path: {{ wlbg_database_path }}
   database_table_prefix: {{ wlbg_database_table_prefix }}
   database_socket: {{ wlbg_database_socket }}
   database_charset: {{ wlbg_database_charset }}
   domain_name: '{{ wlbg_domain_name }}'
{% if wallabag_version is version('2.4.1', '>=') %}
   server_name: '{{ wlbg_server_name }}'
{% endif %}
   mailer_transport: {{ wlbg_mailer_transport }}
   mailer_user: {{ wlbg_mailer_user }}
   mailer_password: {{ wlbg_mailer_password }}
   mailer_host: {{ wlbg_mailer_host }}
{% if wallabag_version is version('2.4.0', '>=') %}
   mailer_port: {{ wlbg_mailer_port }}
   mailer_encryption: {{ wlbg_mailer_encryption }}
   mailer_auth_mode: {{ wlbg_mailer_auth_mode }}
{% endif %}
   locale: {{ wlbg_locale }}
   secret: '{{ wlbg_secret }}'
   twofactor_auth: {{ wlbg_twofactor_auth }}
   twofactor_sender: '{{ wlbg_twofactor_sender }}'
   fosuser_registration: {{ wlbg_fosuser_registration }}
   fosuser_confirmation: {{ wlbg_fosuser_confirmation }}
   fos_oauth_server_access_token_lifetime: {{ wlbg_fos_oauth_server_access_token_lifetime }}
   fos_oauth_server_refresh_token_lifetime: {{ wlbg_fos_oauth_server_refresh_token_lifetime }}
   from_email: '{{ wlbg_from_email }}'
   rss_limit: {{ wlbg_rss_limit }}
   rabbitmq_host: {{ wlbg_rabbitmq_host }}
   rabbitmq_port: {{ wlbg_rabbitmq_port }}
   rabbitmq_user: {{ wlbg_rabbitmq_user }}
   rabbitmq_password: {{ wlbg_rabbitmq_password }}
   rabbitmq_prefetch_count: {{ wlbg_rabbitmq_prefetch_count }}
   redis_scheme: {{ wlbg_redis_scheme }}
   redis_host: {{ wlbg_redis_host }}
   redis_port: {{ wlbg_redis_port }}
   redis_path: {{ wlbg_redis_path }}
   redis_password: {{ wlbg_redis_password }}
{% if wallabag_version is version('2.4.0', '>=') %}
   sentry_dsn: {{ wlbg_sentry_dsn }}
{% endif %}
