LOAD DATABASE
   FROM mysql://wallabag:{{ wlbg_database_pwd }}@localhost/wallabag
   INTO postgresql:///wallabag
/* DOES NOT WORK - it appears clear that pgloader expects something other than normal SQL syntax here */
/* sql queries involving references from the Wallabag 2.3 - 2.4 upgrade instructions */
ALTER TABLE wallabag_oauth2_access_tokens ADD CONSTRAINT FK_368A4209A76ED395 FOREIGN KEY (user_id) REFERENCES wallabag_user (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE
ALTER TABLE wallabag_oauth2_clients ADD CONSTRAINT FK_635D765EA76ED395 FOREIGN KEY (user_id) REFERENCES wallabag_user (id) NOT DEFERRABLE INITIALLY IMMEDIATE
ALTER TABLE wallabag_oauth2_refresh_tokens ADD CONSTRAINT FK_20C9FB24A76ED395 FOREIGN KEY (user_id) REFERENCES wallabag_user (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE
ALTER TABLE wallabag_oauth2_auth_codes ADD CONSTRAINT FK_EE52E3FAA76ED395 FOREIGN KEY (user_id) REFERENCES wallabag_user (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE
ALTER TABLE wallabag_ignore_origin_user_rule ADD CONSTRAINT fk_config FOREIGN KEY (config_id) REFERENCES wallabag_config (id) NOT DEFERRABLE INITIALLY IMMEDIATE;
