{# https://doc.wallabag.org/en/admin/installation/virtualhosts.html #}
<VirtualHost *:80>
   ServerAdmin {{ wallabag_email }}
   ServerName {{ wallabag_domain }}
   DocumentRoot {{wallabag_wwwroot }}/web

   <Directory {{ wallabag_wwwroot }}/web>
      Require all granted
      # our PHP role uses PHP-FPM, so Apache must be instructed to keep the Auth header in request for the API work
      CGIPassAuth On
      <IfModule mod_rewrite.c>
         Options +SymLinksIfOwnerMatch
         Options -MultiViews
         RewriteEngine On
         RewriteCond %{REQUEST_FILENAME} !-f
         RewriteRule ^(.*)$ app.php [QSA,L]
      </IfModule>
   </Directory>

   # If you don't want this caching strategy for your assets
   # you have to comment the two following blocks
   <IfModule mod_expires.c>
      ExpiresActive On
      ExpiresByType application/javascript A259200
      ExpiresByType image/avif "access plus 2592000 seconds"
      ExpiresByType image/gif "access plus 2592000 seconds"
      ExpiresByType image/jpg "access plus 2592000 seconds"
      ExpiresByType image/jpeg "access plus 2592000 seconds"
      ExpiresByType image/png "access plus 2592000 seconds"
      ExpiresByType image/webp "access plus 2592000 seconds"
      ExpiresByType text/css "access plus 2592000 seconds"
   </IfModule>

   <IfModule mod_headers.c>
      <FilesMatch "\\.css$">
         Header set Cache-Control "max-age=2592000, public"
      </FilesMatch>
      <FilesMatch "\\.(gif|ico|jpe?g|png|svg|webp)$">
         Header set Cache-Control "max-age=2592000, public, immutable"
      </FilesMatch>
      <FilesMatch "\\.js$">
         Header set Cache-Control "max-age=2592000, private"
      </FilesMatch>
   </IfModule>

   # uncomment the following lines if you install assets as symlinks
   # or run into problems when compiling LESS/Sass/CoffeScript assets
   # <Directory {{ wallabag_wwwroot }}>
   #     Options FollowSymlinks
   # </Directory>

   # optionally disable the RewriteEngine for the asset directories
   # which will allow apache to simply reply with a 404 when files are
   # not found instead of passing the request into the full symfony stack
   <Directory {{ wallabag_wwwroot }}/web/bundles>
      <IfModule mod_rewrite.c>
         RewriteEngine Off
      </IfModule>
   </Directory>

   ErrorLog ${APACHE_LOG_DIR}/{{ wallabag_domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ wallabag_domain }}_access.log combined
</VirtualHost>
