[Desktop Entry]
Name=Wallabag
Type=Application
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ wallabag_domain }}"
GenericName={{ wallabag_domain }}
Comment=
Categories=Network;WebDevelopment;
Keywords=wallabag;webapp;read-it later;
StartupWMClass=chromium-app-wallabag
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
